


<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>經濟部水利署-水利工程品管系統</title>
    <meta name="keywords" content="經濟部水利署,水利工程,品管系統">
    <meta name="description" content="經濟部水利署-水利工程品管系統">
    <link rel="icon" href="@Url.Content("~/Content/images/ROC_Water_Resources_Agency_Seal.svg")" type="image/ico" />
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/fontawesome.min.css")" rel="stylesheet">
    <!--icon font設定-->
    <link href="@Url.Content("~/Content/css/all.css")" rel="stylesheet" />
    <!--load all styles -->
    <link href="@Url.Content("~/Content/css/layout.css")" rel="stylesheet" />
    <!--自訂CSS-->
    <link href="@Url.Content("~/Content/css/rwd.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css/drag.css")" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/assets/libs/font-awesome/css/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/assets/libs/jquery-ui/jquery-ui.min.css")" />

    <!-- Page Specific CSS -->
    <script src="@Url.Content("~/Scripts/assets/libs/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/libs/jquery-ui/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/libs/jquery-ui-i18n/ui/i18n/datepicker-zh-TW.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/js/side-menu.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/js/layout.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/js/theme-config.js")"></script>
</head>
<!--
<nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="#" title="回首頁"><img src="../Content/images/major_logo.png" alt="經濟部水利署logo"></a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="主選單開合">
            <i class="fas fa-bars fa-2x"></i>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav nav-top ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "MMPlanTp")" title="回後台">回後台</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "TenderPlan")" title="回首頁">回首頁</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("LoginOut", "Login")" title="登出">登出</a>
                </li>
            </ul>
        </div>
    </nav>
    -->
    </a>
@{
    EQC.Common.SessionManager sessionManager = new EQC.Common.SessionManager();
    EQC.Common.UserInfo userInfo = sessionManager.GetUser();
}
<body>
    <div id="WRAPPER" class="container-fluid">
        <!-- 內容開始 -->
        <div class="container">

            <ol class="breadcrumb">
                <li class="breadcrumb-item">目前位置</li>
                @{
                    if (ViewBag.breadcrumb != null && ViewBag.breadcrumb.Count > 0)
                    {
                        foreach (EQC.ViewModel.VMenu item in ViewBag.breadcrumb)
                        {
                            <li class="breadcrumb-item">
                                @if (item.Url == "")
                                {
                                    @item.Name
                                }
                                else
                                {
                                    <a class="collapsed" role="button" href="@item.Url">
                                        @item.Name
                                    </a>
                                }
                            </li>
                        }
                    }
                    else
                    {
                        <li class="breadcrumb-item active" aria-current="page" title="@ViewBag.Title">
                            @ViewBag.Title
                        </li>
                    }
                }
            </ol>
            <h1>@ViewBag.Title</h1>
            @RenderBody()

        </div>
    </div>

    <!--自訂JS-->
    <!-- JS Libs -->
    <script defer src="@Url.Content("~/Scripts/assets/libs/popper.js/popper.min.js")"></script>
    <script defer src="@Url.Content("~/Scripts/assets/libs/bootstrap/js/bootstrap.js")"></script>
    <script defer src="@Url.Content("~/Scripts/assets/libs/holderjs/holder.min.js")"></script>
    <!-- Own JS -->
    <script defer src="@Url.Content("~/Scripts/assets/js/init.js")"></script>
    <script defer src="@Url.Content("~/Scripts/assets/js/dashboard-version.js")"></script>
    <script defer src="@Url.Content("~/Scripts/assets/js/animate.js")"></script>
    <!-- Page Specific JS -->

    <script>
        $(function () {
            $('.datepicker').datepicker({
                dateFormat: 'yy/mm/dd',
                regional: 'zh-TW',
                changeMonth: true,
                changeYear: true,
            });
        });
    </script>

    <script src=@Url.Content("~/Content/dist/js/app.js")></script>

    <script>
        new Vue({
            //store,
            //render: (h) => h(App),
        }).$mount('#app')
    </script>

</body>

</html>