@{
    EQC.Common.SessionManager sessionManager = new EQC.Common.SessionManager();
    EQC.Common.UserInfo userInfo = sessionManager.GetUser();
    string enterSignal = userInfo
        .MenuList.Select(row => row.Url)
        .FirstOrDefault(path =>
            path.Split('/')[0] == HttpContext.Current.Request.Url.AbsolutePath.Split('/')[1]
            || HttpContext.Current.Request.Url.AbsolutePath.StartsWith("/Portal"));

    if (enterSignal == null)
    {
        Response.Redirect("/");
    }
    ViewBag.mainLeftClass = ViewBag.mainLeftClass ?? "main-left menu_bg_R";

}

<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>經濟部水利署-水利工程品管系統</title>
    <meta name="keywords" content="經濟部水利署,水利工程,品管系統">
    <meta name="description" content="經濟部水利署-水利工程品管系統">
    <link rel="icon" href="@Url.Content("~/Content/images/ROC_Water_Resources_Agency_Seal.svg")" type="image/ico" />


    @if (!HttpContext.Current.Request.Path.Contains("/Portal"))
    {
        <link href="@Url.Content("~/Content/css/fontawesome.min.css")" rel="stylesheet">
        <!--icon font設定-->
        <link href="@Url.Content("~/Content/css/all.css")" rel="stylesheet" />
        <!--load all styles -->
        <link href="@Url.Content("~/Content/css/layout.css")" rel="stylesheet" />
        <!--自訂CSS-->
        <link href="@Url.Content("~/Content/css/rwd.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/css/drag.css")" rel="stylesheet" />
    }

    <!-- CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Scripts/assets/libs/font-awesome/css/font-awesome.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/assets/libs/jquery-ui/jquery-ui.min.css")" />

    <!-- Page Specific CSS -->
    <script src="@Url.Content("~/Scripts/assets/libs/jquery/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/libs/jquery-ui/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/libs/jquery-ui-i18n/ui/i18n/datepicker-zh-TW.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/js/side-menu.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/js/layout.js")"></script>
    <script src="@Url.Content("~/Scripts/assets/js/theme-config.js")"></script>
    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <script src=@Url.Content("~/Content/dist/js/app.js")></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
</head>
<header>
    <nav class="navbar navbar-expand-lg fixed-top navbar-bg-R ">
        <a class="navbar-brand" href="@Url.Content(sessionManager.GetUserHome())" title="回首頁">
            <img src="@Url.Content("~/Content/images1/major_logo.png")" alt="經濟部水利署logo">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="主選單開合">
            <i class="fas fa-bars fa-2x"></i>
        </button>

        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
            <ul class="navbar-nav nav-top ml-auto  d-flex justify-content-end" style="max-width:60%">

                @{
                    if (userInfo != null && userInfo.SystemList != null)
                    {
                        foreach (EQC.ViewModel.VSystemMenu system in userInfo.SystemList)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="../@system.PathName" title='@system.Name'> @system.Name</a>
                            </li>
                        }
                    }
                }
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("LoginOut", "Login")" title="登出">登出</a>
                </li>

            </ul>
        </div>
    </nav>
</header>

<body>


    @if (!HttpContext.Current.Request.Path.Contains("/Portal"))
    {
        <div id="WRAPPER" class="container-fluid">
            <div style="position: absolute ;top:150px; right: 50px; z-index: 1; display: none;" id="info">
                <img src="/Content/images1/info.png" style="
    width: 400px;
">
            </div>
            <!-- 內容開始 -->
            <div class="@ViewBag.mainLeftClass" style=" max-height: 100%;">
                <div class="menu-control btn-color13">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                </div>

                <div class="card" id="accordion" role="tablist" aria-multiselectable="true">
                    @{
                        int inx = 0;
                        if (userInfo != null && userInfo.MenuList != null)
                        {
                            foreach (EQC.ViewModel.VMenu menuVM in userInfo.MenuList.Where(w => w.ParentSeq > 0 && w.SystemTypeSeq == 2))
                            {
                                inx++;
                                string idStr = "heading1" + inx.ToString();
                                string colId = "collapse1" + inx.ToString();
                                <div class="card">
                                    <div class="card-header" role="tab" id="@idStr">
                                        <h4 class="card-title">
                                            @if (!string.IsNullOrEmpty(menuVM.Url) && menuVM.Url.Split('/').Count() > 1)
                                            {
                                                if (@ViewBag.Title == @menuVM.Name)
                                                {
                                                    <a class="chosen" role="button" href="@Url.Action(menuVM.Url.Split('/')[1], menuVM.Url.Split('/')[0])">
                                                        @menuVM.Name
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="collapsed" role="button" href="@Url.Action(menuVM.Url.Split('/')[1], menuVM.Url.Split('/')[0])">
                                                        @menuVM.Name
                                                    </a>
                                                }
                                            }
                                            else
                                            {
                                                <a class="collapsed" role="button" href="#">
                                                    @menuVM.Name
                                                </a>
                                            }
                                        </h4>
                                    </div>
                                    <div id="@colId" class="collapse" role="@menuVM.Name" aria-labelledby="@idStr" data-parent="#accordion"></div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            }


            <div class="main-right">
                <div class="d-flex mb-3 justify-content-end">
                    <div onclick="showInfo()">
                        <img src="@Url.Content("~/Content/images1/info_logo.png")" style="width:80px; height:60px">
                    </div>
                    <div>

                        <div class="name">
                            歡迎！ &nbsp;@userInfo.DisplayName
                        </div>
                    </div>
                </div>
                <div class="card whiteBG mb-4 colorset_R">
                    <div class="card-header">
                        <h3 class="card-title font-weight-bold">@ViewBag.BarTitle</h3>
                    </div>
                    <div class="card-body" id="app">
                        @RenderBody()

                        @if (bool.Parse(HttpContext.Current.Session["PttInfo"].ToString()))
                        {
                            <ptt-modal></ptt-modal>
                        }
                    </div>
                </div>
            </div>

        </div>
    }
    else
    {
        @RenderBody()
    }
    <footer class="inside_footer footer-R" id="Footer_front">
        <div class="container d-flex justify-content-end" ">
            <div class="mr-5">客服專線:0905-546-726</div>
            <div>
                經濟部水利署 Copyright © 2021 All Rights Reserved
            </div>

        </div>
        <div id="gotop" class="btn-color1" title="回到最上方"><img src="@Url.Content("~/Content/images1/icon-up.png")" alt="回到最上方icon"></div>
    </footer>

    <!-- CSS 設定-->
    <link href="@Url.Content("~/Content/dist/css/app.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css1/all.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css1/layout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css1/rwd.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/css1/drag.css")" rel="stylesheet" />


</body>


    <script>
    let info = {};
    let infoCreateTime;
    let seq = 0;
    let a = 0;
    var app = new Vue({
        //store,
        //render: (h) => h(App),
    }).$mount('#app');

    localStorage.setItem('isAdmin', '@userInfo.IsAdmin');
    localStorage.setItem('isEQCAdmin', '@userInfo.IsEQCAdmin');
    const scroll = document.querySelector("#accordion");
        if (scroll != null) {

            scroll.scrollTop = localStorage.getItem("scrollTop") ?? 0;
            scroll.addEventListener("scroll", event => {
                localStorage.setItem("scrollTop", scroll.scrollTop);
            }, { passive: true });
        }

    //$('#myModal').on('hidden.bs.modal', function () {
    //    getPttContent()
    //});


    localStorage.setItem('Role', '@userInfo.RoleSeq');
    //getPttContent();

    //function getPttContent() {
    //    $.ajax({
    //        url: "/PttInfo/GetPttInfo",
    //        type: "post",
    //        dataType: "html",
    //        data: {
    //            seq : seq++
    //        },
    //        success: function (config) {
    //            var jsonData = JSON.parse(config);
    //            console.log(jsonData);
    //            if (jsonData.result != 0) {
    //                closePtt();
    //                return;
    //            }
    //            info = jsonData.info
    //            infoCreateTime = jsonData.infoCreateTime;
    //            document.getElementById("pttHtml").innerHTML = info.Html;
    //            document.getElementById("pttTitle").innerHTML = info.Title;
    //            $('#myModal').modal('show');
    //        },
    //        error: function (err) {

    //        }
    //    });
    //}


    //async function checkPtt() {

    //    $.ajax({
    //        url: "/PttInfo/CheckPtt",
    //        type: "post",
    //        dataType: "html",
    //        data: {
    //            checkTime: infoCreateTime
    //        },
    //        success: function (config) {
    //            var jsonData = JSON.parse(config);
    //            if (jsonData.result != 0) return;
    //            seq--;
    //            $('#myModal').modal('show');
    //            getPttContent();
    //        },
    //        error: function (err) {

    //        }
    //    });
    //}

    function closePtt() {
        $('#myModal').modal('hide');
    }
    function showInfo() {
        a++;
        if(a % 2 == 1)
            $("#info").show();
        else $("#info").hide()
    }

    </script>








